$my-color: rgba(99, 166, 238, 0.541);
$box-size: 1000px;
$box-border: 3px black bold;
$box-padding: 10px;
$col-width: 60px;
$col-height: 60px;
$col-padding: 10px;
$div-size: 550px;
$page-padding: 25px;
$page-border: 20px;
$box-color: rgb(250, 206, 239);
$colors: (
  background: rgb(202, 181, 197),
  base: rgb(250, 206, 239),
  nice: rgba(209, 106, 218, 0.699),
  cool: rgb(223, 209, 91),
  fun: rgba(31, 161, 64, 0.2),
  summer: rgb(0, 240, 240),
  cocktail: rgb(250, 201, 67),
  beach: rgb(0, 184, 240),
  happy-hour: rgb(232, 0, 240),
  sunset: rgb(184, 160, 84),
  sofa: rgb(100, 89, 50),
  netflix: rgb(241, 139, 43),
  choco: rgb(226, 96, 96),
  snowing: rgb(86, 167, 243),
  warm: rgb(109, 96, 226),
  santa: rgb(96, 226, 198),
);
